a
{text-decoration: none;color:red;}
p{color: blue;border: 5px;transition: cubic-bezier();}
#abc{
    background-color: aquamarine;
}
#p1{color: chartreuse;font-style: oblique;}
#p2{background-color: aqua;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#p3{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.l1{border: 1px solid red;
margin: 5% 10% 5% 30%;
padding: 1px ;} 
#username
{display: inline-block;}